**/.dockerignore
**/.eslintignore
**/.eslintrc*
**/.git
**/.gitattributes
**/.gitignore
**/.husky
**/.npmignore
**/.prettierignore
**/.vscode
**/coverage
**/data
**/Dockerfile*
**/logs
**/node_modules
**/README.md
**/seed.js
**/vidly-backend*.tgz
