.dockerignore
.eslintignore
.eslintrc*
.gitattributes
.gitignore
.npmignore
.prettierignore
.husky
.jest
.vscode
coverage
data
docker-compose*
*Dockerfile*
logs
mongo-setup
node_modules
seed.js
**/tests
vidly-backend*.tgz
